@font-face {
    font-family: 'Helvetica';
    src: url(/font/Helvetica.ttf);
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica';
}

h1 {
    margin: 0;
    padding: 0;
}

.mainsection {
    margin: 0;
    background-image: url(../images/masc1.png), linear-gradient(to top left, rgba(22, 22, 24, 1) 0%, rgba(49, 49, 50, 1) 100%);
    background-size: cover;
    background-position: 50% 0%;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.logo {
    margin-left: 32px;
    margin-top: 40px;
    color: white;
    font-size: 35px;
    float: left;
    cursor: pointer;
}

.logo-line {
    height: 100%;
    width: 1px;
    border-left: 1px solid #707070;
    float: left;
    margin-left: 30px;
}

.navegate {
    list-style: none;
    margin-top: 55px;
    margin-left: 45%;
}

.navegate li {
    display: inline-block;
    margin-left: 42px;
    font-weight: bold;
    height: 50px;
}

.navegate a:hover {
    color: #ef6262;
    border-bottom: 2px solid #ef6262;
}

.navegate a {
    font-size: 12px;
    color: white;
    text-decoration: none;
    padding: 20px 10px;
    transition: all .4s;
    border-bottom: 2px solid transparent;
    letter-spacing: 1px;
}

.work {
    margin-top: 5%;
}

.work,
.anywhere {
    text-align: left;
    color: white;
    font-size: 65px;
    display: block;
    margin-left: 60%;
}

.intro {
    width: 40%;
    color: white;
    letter-spacing: 3px;
    font-size: 15px;
    margin-left: 60%;
    margin-top: 1%;
    line-height: 1.7;
}

.intro u {
    transition: all .4s;
    display: block;
}

.intro u:hover {
    color: #ef6262;
    cursor: pointer;
}

.collection {
    color: white;
    position: fixed;
    margin-top: 5%;    
    margin-left: 20%;
    font-size: 12px;
    letter-spacing: 2px;
}

.line-01 {
    width: 200px;
    height: 10px;
    border-bottom: 1px solid #707070;
}

.line-02 {
    width: 100px;
    height: 0;
    border-bottom: 1px solid #ef6262;
    transition: all .3s cubic-bezier(0, .99, .62, .9);
}

.collection h1:nth-child(4) {
    margin-top: 15px;
    font-size: 14px;
    letter-spacing: 3px;
}

.collection h1:nth-child(5),
.collection h1:nth-child(6) {
    margin-top: 15px;
    font-size: 13px;
    color: #606060;
}

.blur {
    border-bottom: 2px solid white;
    border-top: 2px solid white;
    border-right: 2px solid white;

    height: 200px;
    left: 6.3%;
    position: absolute;
    bottom: 0;
    float: left;
}

#work,
#travel,
#active {
    transition: all .2s;
}

.event {
    width: 55%;
    float: left;
}

.event h1:nth-child(1),
.news h1 {
    font-size: 15px;
    color: white;
    letter-spacing: 5px;
    margin: 30px 60px;
}

#idevent1 {
    margin-left: 60px;
    opacity: 1;
}

#idevent2 {
    margin-left: 50px;
    display: block;
}

#idevent1,
#idevent2 {
    color: #A1A1A1;
    font-size: 13px;
    display: inline-block;
    letter-spacing: 2px;
    transition: all 1s;
    width: 40%;
}

#idevent3 {
    clear: both;
    margin-left: 60px;
}

#idevent4 {
    margin-left: 30px;
}

#idevent3,
#idevent4 {
    margin-top: 5px;
    color: white;
    font-size: 14px;
    letter-spacing: 2px;
    display: inline-block;
    width: 38.5%;
    transition: all 1s;
}

.point1,
.point2,
.point3 {
    width: 8px;
    height: 8px;
    border-radius: 40%;
    display: inline-block;
    transition: all 1s;
}

.point1 {
    margin-top: 30px;
    background: #ef6262;
}

.point2,
.point3 {
    margin-left: 10px;
    background: #646464;
}

.imgsec {
    float: left;
    background-image: url(../images/mascara5.jpg);
    background-size: cover;
    background-repeat: no-repeat;


    width: 22%;
    height: 100%;
}

.news {
    float: left;
    width: 40%;
}

.news h2 {
    margin-left: 60px;
    color: #A1A1A1;
    font-size: 13px;
    display: inline-block;
    letter-spacing: 2.2px;
    line-height: 1.5;
}

.news a {
    margin-left: 60px;
    text-decoration: none;
    color: #ef6262;
    font-size: 13px;
    letter-spacing: 2px;
    transition: all .2s;
    border-bottom: 2px solid transparent;
}

.news a:hover {
    border-bottom: 2px solid #ef6262;
}