    @charset "UTF-8";

    html{                     
        font-family: "Oxygen", arial;
    }

    .clearfix:after, .row:after{
        content: ' ';
        display: block;
        clear: both;
    }

    .icon-play img{
        max-width: 100%;
        max-height: 100%;            
    }

    .icon-play{
        height: 5em;
        display: none;
    }





    .button{
        text-decoration: none;
        border-radius: 5px;
        background: #58c4c4;            
        color: white;
        display: inline-block;
        padding: .9em 2.5em;
        transition: all .2s;
    }        

    .button:hover{
        background:#37a0a0;
    }        

    .main-logo{            
        width: 100%;
        height: 4em;
        display: block;            
        padding: 1em 0;
    }

    .nav-header{            
        background: #612674;
        text-align: center;
    }

    .nav-header ul{
        list-style: none;            
        margin: 0;
        padding: 1em 0;
    }

    .nav-header a{
        color: white;
        text-decoration: none;
        display: block;
        padding: 1em;
        transition: all .4s;
    }

    .nav-header a:hover{
        background: #7c3792;
    }        

    .get-started{
        text-align: center;
        padding: 1em;
        background: #F6f6f6;
    }

    .get-started h1{
        color: #612674;
        font-size: 1.3em;                      
        margin: 1em 0;
    }

    .get-started h2{
        color: #a87bb7;
        font-size: 1em;            
        line-height: 1.5;
    }

    .icon-plus{
        background: #F6f6f6;
        text-align: center;
        padding: 2em;
        line-height: 1.3;
    }

    .icon-plus h3{
        color: #652e78;
        font-size: 1.25em;
        letter-spacing: .2em;
        text-transform: uppercase;            
    }

    .icon-plus p{
        line-height: 1.3;
        color: #404040;
    }

    .icon-plus span[class^=icon]{
        font-size: 2.8em;
        color: #652e78;
    }

    .main-content{
        padding: 2em;
    }

    .main-content article{
        margin-bottom: 3.5em;

    }

    .main-content h3{
        color: #652e78;
        text-transform: uppercase;
        letter-spacing: .1em;
        font-weight: normal;
    }

    .main-content p{
        line-height: 1.2;
    }

    footer{
        background: #25303e;
        color: #83969f;
        text-align: center;
        padding-bottom: 2em;            
    }        

    footer ul{
        list-style: none;
        padding: 0;
        margin:0;
        display: block;            
        background: #303d4c;            
        padding: 1em
    }

    footer li{
        display: inline-block;
        margin: 0 1em;
    }

    footer a{
        font-size: 1.1em;
        text-decoration: none;
        color: white;
        transition: all .2s;
    }

    footer a:hover{
        color: #c4c4c4;
    }

    @media screen and (min-width: 48.75em){

        .icon-play{
            height: 4em;
            display: block;
        }            

        .main-logo{
            float: left;
            width: 49%;
        }

        .nav-header{                
            background: white;
            display: inline-block;
        }

        .nav-header li{
            display: inline-block;
        }

        .nav-header a{
            color: #713a84;   
            font-weight: bold;
        }

        .nav-header a:hover{                
            background: #e7d9fc;   
            border-radius: 5px;
        }            

        .get-started{
            background: #521a66;
        }

        .get-started h1{
            color: white;
        }

        .get-started h2{
            color: #cbcbcb;
        }    

        .col-1_4{
            width: 44%;
            margin: 3%;
            float: left;                
        }

        .main-content a{
            float: right;
        }


    }

    @media screen and (min-width: 62.5em){
        .get-started{                
            background: #521a66 url(../images/bg_topo_1198x670.jpg);
            height: 20em;
            padding-top: 15em;
            background-position: center bottom;

        }
    }

    @media screen and (min-width: 74em){
        .get-started{                
            background: #521a66 url(../images/bg_topo_1600x1374.jpg);
            padding: 19em 20em 10em;
            background-position: center top;       
            background-size: cover;
        }

        .get-started h2{
            color: #ebebeb;
        }

        .col-1_4{
            width: 23%;
            margin: 1%;
        }

        .col-1_2{
            width: 48%;
            margin: 1%;
            float: left;
        }

        .button{
            float: none;
        }


        .icon-play{
            height: 6em;
            display: block;
        }   
    }